* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app{
    background: rgba(0, 0, 0, 0.15);
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    width: 300px;
}

.searchBox {
    margin-bottom: 20px;
}

.searchBox input{
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 70%;
}

.searchBox button{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #ff9800;
    color: white;
    cursor: pointer;
    transition: .3s;
}

.weather-info{
    margin-top: 20px;
}

.weather-info h2 {
    margin-bottom: 10px;
}